.edit-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
}

.edit-profile-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-profile-form label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.edit-profile-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;;
  margin-bottom: 20px;
  width: 95%;
}

.save-button {
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #0056b3;
}
